<html ng-app="myApp" ng-controller="applc">
<head>
  <style>
   form {
      margin: 2;
      padding: 3em 150;
      border: 2px solid black; 
      margin-top: 20px;
      margin-bottom: 40px;
      margin-right: 200px;
      margin-left: 200px;
      background-color: rgb(169, 224, 169);
    }
  </style>
</head>
<body>
  <form ng-submit="submit(user)">
    <header style="font-size: 25px;color:blue;">RESUME APPLICATION</header> <br>

    FIRST NAME:<br>
    <input type="text" style="font-size: 15px; color: black;" name="FIRST NAME" ng-model="user.first_name"><br><br>

    LAST NAME: <br>
    <input type="text" style="font-size: 15px; color: black;" name="LAST NAME" ng-model="user.last_name"><br><br>
    EMAIL ADDRESS: <br>
    <input type="text" style="font-size: 15px; color: black;" name="EMAIL ADDRESS" ng-model="user.email"><br><br>
    POSITION: <br>
    <div class="SELECT POSITION"  style="width:250px">
      <select ng-model="user.position" ng-options="position.jobTitle as position.jobTitle for position in positions">        
      </select>
    </div>
    <br> <br>
        RESUME UPLOAD<br>
    <input type="file"><br><br>
    <br><br>
    <button type="submit">SUBMIT</button> 
  </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="Application.js"></script>
</html>